<div class="row">
	<div class="span12">
		<div class="component-big">
			<div class="module">
				<div class="module-body">
					<div class="row">
						<div class="span5">
							<a href="http://www.wunderground.com" target="_blank" class="wunderground">
								<img src="/static/images/wundergroundLogo_4c_horz.jpg" alt="Weather underground" />
							</a>
						</div>
						<div class="span2">
							<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" class="google_app_engine" />
						</div>
						<div class="span2">
							<a href="http://www.python.org/" target="_blank">
								<img src="http://www.python.org/community/logos/python-powered-w-140x56.png" alt="Powered by Python" class="python" />
							</a>
						</div>
						<div class="span2">
							<a href="http://flask.pocoo.org/" target="_blank"><img
								src="http://flask.pocoo.org/static/badges/flask-powered.png"
								border="0"
								alt="Flask powered"
								title="Flask powered"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
