{% extends "layout.jinja" %}
{% block title %}Page Not Found{% endblock %}
{% block body %}
  <div class="alert-message error">
	  <a class="close" href="#">×</a>
	  <p><strong>Whoeps!</strong> Hier ging iets niet helemaal goed...</p>
  </div> 
  <div class="row">
	  <div class="span16">
		  <div class="component component-big">
			  <div class="module">
				  <div class="module-header">
					  <h1>404: Pagina niet gevonden</h1>
				  </div>
				  <div class="module-body">
					  <p>Of dit is een niet meer bestaande pagina of u heeft een url fout ingevoerd.</p>
					  <p><a href="{{ url_for('index') }}">Breng me naar ergens waar het wel leuk is</a></p>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>

{% endblock %}
