
{% extends "layout.jinja" %}
{% block title %}contact{% endblock %}
{% block description %}Neem contact op met motorrijweer.nl{% endblock %}

{% block body %}

<div class="row">
	<div class="span12">

		<div class="component component-big">
			<div class="module">
				<div class="module-header">
					<h1>Contact</h1>
				</div>
				<div class="module-body">
					<p>Voor vragen, opmerkingen en suggesties kunt u terecht bij: <a href="mailto:leon@motorrijweer.nl">leon@motorrijweer.nl</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>


{% include 'blocks/footer.jinja' %}

{% endblock %}
