{% extends "layout.jinja" %}
{% block title %}Index{% endblock %}
{% block description %}Hoe goed is het motorrijweer? Bekijk hier per provincie, regio of locatie of het een beetje weer is om te motorrijden.{% endblock %}

{% block body %}

<div class="row">
	<div class="span12">

		<div class="component component-big">
			<div class="module">
				<div class="module-header">
					<h1>Is het goed motorweer?</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<div class="component-small">
			<div class="module">
				<div class="module-body">
					<ul class="provincies">
						{% for provincie in provincies %}
						{% if provincie.stations|count > 0 %}

						<li class="provincie">
							{% if provincie.stations|count == 1 %}
							{% set aantal_stations = '1 weerstation' %}
							{% else %}
							{% set aantal_stations = provincie.stations|count|string + ' weerstations' %}
							{% endif %}

							<h2><a href="{{ url_for('provincie_redirect', provincie=provincie.id) }}" title="Provincie {{provincie.name}}">{{provincie.name}}</a></h2>
							{% if provincie.stations|count > 1 %}
							<ul class="regios">
								{% for regio in provincie.regios %}
								{% if regio.stations|count > 0 %}

								{% if regio.stations|count == 1 %}
								{% set aantal_stations = '1 weerstation' %}
								{% else %}
								{% set aantal_stations = regio.stations|count|string + ' weerstations' %}
								{% endif %}

								<li class="regio">
									<a href="{{ url_for('regio_redirect', regio=regio.id) }} " title="Provincie {{provincie.name}} regio {{regio.name}}">{{regio.name}}</a>
									<em>({{aantal_stations}})</em>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
							{% endif %}


						</li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="span6">
		<div class="component-small">
			<div class="module">
				<div class="module-body">
					<h3>Motorweer op twitter:</h3>
					<div id="twitter_stream">
						<p>Sorry, uw browser ondersteunt geen javascript &ograve;f er ging iets mis...</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'blocks/footer.jinja' %}

{% endblock %}
