<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>{% block title %}{% endblock %} | Hoe goed is het motorrijweer?</title>

	<meta name="title" content="{{ self.title() }}" />
	<meta name="description" content="Hoe goed is het motorrijweer? Bekijk hier per provincie, regio of locatie of het een beetje weer is om te motorrijden." />
	<meta name="keywords" content="motorrijweer motorrijden weer motoren weer grafiek provincie regio locatie" />
	<meta name="google-site-verification" content="IFPKbKwYGA2qy_GRMTRfvflxiUnLhhJqGgeBGBCLfxQ" />

	<!-- CSS spul -->
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/stylesheets/template.css">

	<!-- Javascripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" defer="defer"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js" defer="defer"></script>

	<script src="/static/javascripts/highcharts/highcharts.js" type="text/javascript" defer="defer"></script>
	<script src="/static/javascripts/highcharts/themes/skies.js" type="text/javascript" defer="defer"></script>
	<script src="/static/javascripts/site.js" type="text/javascript" defer="defer"></script>
</head>

<body>
	<div class="container">
		<div class="content">


			{% for message in get_flashed_messages() %}
				<p class=flash>{{ message }}</p>
			{% endfor %}

			{% block body %}{% endblock %}
		</div>
	</div>

</body>
</html>
