<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>{% block title %}{% endblock %} | Hoe goed is het motorrijweer?</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
	<meta name="title" content="{{ self.title() }}" />
	<meta name="description" content="{% block description %}{% endblock %}" />
	<meta name="keywords" content="motorrijweer motorrijden weer motoren weer grafiek provincie regio locatie" />
	<meta name="google-site-verification" content="IFPKbKwYGA2qy_GRMTRfvflxiUnLhhJqGgeBGBCLfxQ" />

	<!-- CSS spul -->
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/stylesheets/template.css">
	<link rel="stylesheet" href="/static/tweet/jquery.tweet.css">
</head>

<body>
	<div class="container">
		<div class="content">


			{% for message in get_flashed_messages() %}
				<p class=flash>{{ message }}</p>
			{% endfor %}

			{% block body %}{% endblock %}
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" defer="defer"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js" defer="defer"></script>
	<script src="/static/tweet/jquery.tweet.js" defer="defer"></script>
	<script src="/static/javascripts/highcharts/highcharts.js" type="text/javascript" defer="defer"></script>
	<script src="/static/javascripts/highcharts/themes/skies.js" type="text/javascript" defer="defer"></script>
	<script src="/static/javascripts/site.js" type="text/javascript" defer="defer"></script>

	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '{{ config['GOOGLE_ANALYTICS'] }}']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>

</body>
</html>
