{% extends "layout.jinja" %}
{% block title %}Tips{% endblock %}
{% block description %}Tips over motorrijden in barre weersomstandigheden.{% endblock %}

{% block body %}

<div class="row">
	<div class="span12">

		<div class="component component-big">
			<div class="module">
				<div class="module-header">
					<h1>Tips voor rijden met slecht weer</h1>
				</div>
				<div class="module-body">

					<p>Iedereen rijdt natuurlijk het liefste met fantastisch motoweer maar dat is niet altijd het geval.
					Het zal soms regenen, waaien, sneeuwen, stormen of mistig zijn. Misschien wel allemaal tegelijk.
					Op deze pagina volgen een aantal tips hoe om te gaan met slecht motorweer.</p>
					<p>De normale voorzorgsmaatregelen zoals goede banden, juiste bandenspanning, een krasvrij vizier enzovoorts wordt als <em>miniumum</em>
					beschouwd om de weg op te gaan en zal hieronder dus ook niet aan bod komen!</p>
					<hr />

					<h3>Regen</h3>
					<img style="float: right; padding-left: 10px;" src="/static/images/tips/regen.jpg" alt="Regen op asfalt" />
					<p>Gezien het klimaat in Nederland zal iedere motorrijder wel een keer te maken krijgen met regen. Hieronder wat tips waar op te letten
					en hoe om te gaan met regen.</p>
					<h5>Kleding</h5>
					<p>Het belangrijkste bij regen is goede regenkleding. Met goede kleding blijf je warm en alert op de motor. Als je als een verzopen kat
					op de motor zit gaat dat ten koste van je eigen veiligheid!</p>
					<p>Leer is de motorkleding bij uitstek maar is helaas niet waterdicht. Een goed textielen pak of een regenoveral
					is dus onontbeerlijk in de garderobe van iedere motorrijder.</p>
					<p>Of je droog blijft ligt niet alleen aan je kleding maar ook hoe je je aankleedt. Handschoenen die over de mouw worden gedragen
					lopen vol als het regent. Ook een col die onder je motorjas uitkomt kan een nat pak opleveren omdat de regen via de col onder je jack kan
					komen. Zorg er dus voor dat de kraag van je jas goed aansluit (knellen mag natuurlijk ook niet). Een broek die in de laarzen
					wordt gedragen (voornamelijk leren broeken) kan natte voeten opleveren.</p>
					<h5>Gladheid</h5>
					<p>Bij regen <em>kan</em> het wegdek glad worden. Desalnietemin hoeft dit geen probleem te zijn als je hier rekening mee houdt en voldoende
					anticipeert. Vermijd witte markeringen op het wegdek en opgelapte delen asfalt. Ook bepaalde soorten bestrating zoals klinkers en
					kinderkopjes kunnen erg glad zijn. Het is de kunst om in de regen voldoende soepel te blijven rijden en niet stijf en stram op de motor te zitten.
					Blokkerig en hoeking rijden kan veel gevaarlijker zijn dan net iets te vlot rijden in de regen.

					<h5>Zicht</h5>
					<img style="float: right; padding-left: 10px;" src="/static/images/tips/zicht.jpg" alt="Vizier zicht" />
					<p>Het zicht tijdens regen en/of met natte wegen kan op drie manieren verminderd worden: aanslaan van het vizier, regendruppels op het
					vizier en opspatten water van de overige weggebruikers.</p>
					<p>Het aanslaan van het vizier kan worden tegeggegaan door de helm goed te ventileren of een zogeheten pinlock vizier te gebruiken.
					Ventileren kan door de ventilatie in de helm open te doen of door het vizier op een kiertje te zetten. Tijdens regenbuien zal het vizier
					op een kier zetten geen optie zijn dus blijft de ventilatie openzetten de enige optie. Let daarom bij het uitzoeken van een helm altijd
					op de ventilatiemogelijkheden. Om aanslaan van het vizier nog beter te voorkomen kun je er ook voor kiezen om een helm te kopen met
					een pinlock vizoer (of een ander merk anti-fog vizier). Dit verandert het glas van je vizier in een soort &quot;dubbelglas&quot;
					waardoor het vizier volgens de fabrikant niet meer aanslaat.</p>
					<hr />

					<h3>Zware wind</h3>
					<img style="float: right; padding-left: 10px;" src="/static/images/tips/wind.jpg" alt="Zware wind" />
					<p>Wind kan een grote invloed hebben op motorrijders. Met harde wind kunnen er een aantal gevaren ontstaan: het be&iuml;nvloed de
					rechtuitstabiliteit van de motor en de harde wind kan zorgen voor obstakels op de weg.</p>
					<h5>Rechtuistabiliteit</h5>
					<p>Het kan gebeuren dat je bij zware wind toch wilt, of misschien zelfs moet gaan rijden. Het devies is om bij zware wind, net zoals bij regen,
					soepel te blijven rijden. Zet je niet schrap tegen de wind! Dat zorgt ervoor dat je als &quot;zeil&quot; gaat fungeren en zo de motor alleen
					maar meer uit koers brengt. Als je stijf op de motor zit wordt iedere windvlaag tegen je bovenlijf en hoofd direct omgezet naar een stuurbeweging.
					Als je soepel en relaxed op de motor zit kun je die windvlagen opvangen en zodoende de stabiliteit van de motor waarborgen.</p>
					<p>Het overige verkeer kan ook voor windvlagen zorgen. Zeker grote vrachtwagens die je tijdelijk van de wind afschermen om er vervolgens weer vol
					in te zitten kunnen zorgen voor grote windvlagen. Door even kort te acceleren op het moment dat de vrachtwagen passeert/gepasseert is kun je
					die turbulentie opvangen.</p>
					<p>Zorg ervoor dat je bij harde wind ruim afstand bewaart tot de berm of vangrail. Rij aan de kant van de rijstrook waar je de meeste ruimte hebt
					om door de wind opzij geblazen te worden.</p>
					<p>Andere gevaarlijke punten bij wind:</p>
					<ul>
						<li>Heuvels, bruggen, viaducten e.d.</li>
						<li>Hoge gebouwen. Deze hebben veel invloed op de wind en kunnen voor valwinden zorgen die je kunnen verrassen.</li>
					</ul>
					<h5>Obstakels</h5>
					<p>Zodra het zo hard waait dat er takken afbreken of bomen omwaaien is het niet meer verantwoord om te rijden. Dit gebeurt zo rond windkracht
					6/7. Maar ook als het iets minder hard waait (windkracht 4-5) kunnen er gevaarlijke situaties ontstaan door bladeren en vruchten, zoals eikels,
					die van de bomen worden geblazen en op de weg belanden. Dit kan zorgen voor gladheid op wegen waar veel bomen staan. Op zo&prime;n moment is
					het advies weer: anticiperen!</p>
					<hr />

					<h3>Mist</h3>
					<img src="/static/images/tips/mist.jpg" alt="Weg met mist" />
					<p>Mist deelt een aantal eigenschappen, en dus voorzorgsmaatregelen, met regen. Neem deze ook ter harte! Zorg dus voor goede ventilatie in de helm
					en rij soepel. In tegenstelling tot auto&prime;s hebben motoren geen mistlampen. Houd je spiegels bij mist daarom goed in de gaten op achteropliggend
					verkeer. Pas je snelheid en afstand tot voorliggers aan afhankelijk van de dichtheid van de mist. Het is bij mist verleidelijk om je grootlicht aan
					te zetten maar dit kan tegenliggers &egrave;n jezelf verblinden. Pas hier dus mee op! Een fluoriserend en reflecterend veiligheidshesje aantrekken
					is wel te adviseren. Let er wel op dat het hesje goed aansluit en niet gaat wapperen of verschuiven. Een veiligheidsvest speciaal voor motorrijders
					is zeker goed (en niet duur).</p>
					<p>Bij mist kan het gebeuren dat de mist aanvriest. Dit kan ook voorkomen bij temperaturen boven nul! De grondtemperatuur is dan enkele graden
					lager en dat is net genoeg om ervoor te zorgen dat de mist op het wegdek bevriest. Bij temperaturen onder nul kan de mist op je vizier bevriezen
					en je totaal het zicht ontnemen. In dat geval is het beter om niet te gaan rijden.</p>
					<hr />

					<h3>Sneeuw en andere winterse gladheid</h3>
					<img style="float: right; padding-left: 10px;" src="/static/images/tips/sneeuw.jpg" alt="Ingesneeuwde motor" />
					<p>Sneeuw, ijzel en aanvriezende mist kan voor ernstige gladheid zorgen. In deze gevallen is het beter om niet te gaan rijden. Je kunt er natuurlijk
					door overvallen worden, maar in dat geval heb je waarschijnlijk niet van tevoren om motorrijweer.nl gekeken :) Mocht je met deze gladheid toch met de
					motor de weg op moeten dan zijn de volgende tips van toepassing:</p>
					<p>Geef zeer gelijdelijk gas en rem zeer gelijdelijk. Hou in bochten de motor trekkend en de gasstand gelijk. Automobilisten houden normaal
					gesproken al niet zoveel rekening met motorrijders maar in deze winterse omstandigheden nog minder. Zorg ervoor dat er geen auto&prime;s vlak voor
					of achter je zitten. Ga desnoods aan de kant als je denkt dat het gevaarlijke situaties kan opleveren.</p>
					<p>Platgereden sneeuw kan zo glad zijn als ijs. In deze gevallen: neem het risico niet. Bel je partner, een vriend of bestel een taxi. Het gaat
					erom dat je heelhuids thuiskomt.</p>
					<hr />

					<h3>Gerelateerde links</h3>
					<ul>
						<li><a href="http://www.luiemotorfiets.nl/tips/weer/" target=_blank">www.luiemotorfiets.nl/tips/weer/</li>
						<li><a href="http://motorfun.jouwweb.nl/rijvaardigheid/weersomstandigheden" target="_blank">motorfun.jouwweb.nl/rijvaardigheid/weersomstandigheden</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</div>


{% include 'blocks/footer.jinja' %}

{% endblock %}
